<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeTurfDomain</key>
	<string>https://ci-app.hometurfapp.com/</string>
	<key>HomeTurfTeamId</key>
	<string>441766b9-0f24-11e2-8525-18a905767e44</string>
</dict>
</plist>
